In [3]:
%pip install lxml

Collecting lxml
  Downloading lxml-5.4.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.5 kB)
Downloading lxml-5.4.0-cp312-cp312-manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 6.6 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-5.4.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [6]:
wiki_tables=pd.read_html('https://en.wikipedia.org/wiki/Northern_Sea_Route')

In [14]:
wiki_tables[0]

,Year,Total,Russia,Singapore,Finland,Norway,Germany,Spain,China,Greece,Hong Kong,Sweden,Netherlands,Portugal,Other
0,2007,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,3,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009,5,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,10,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,41,26.0,4.0,2.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0
5,2012,46,18.0,NaN,6.0,5.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,15.0
6,2013,71,46.0,NaN,2.0,2.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN,18.0
7,2014,53,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.0
8,2015,18,10.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,1.0,1.0,NaN,4.0
9,2016,18,7.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,8.0
10,2017,27,9.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,2.0,1.0,10.0
11,2018,27,8.0,NaN,1.0,NaN,NaN,NaN,7.0,NaN,1.0,NaN,1.0,2.0,6.0
12,2019,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020,64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021,85,12.0,NaN,4.0,NaN,NaN,NaN,11.0,NaN,7.0,NaN,8.0,13.0,30.0
15,2022,43,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0

In [18]:
wiki_tables[0].set_index('Year').count().reset_index().rename(columns={0:'count'}).query('count<count.max()/8')

       index  count
2  Singapore      1
6      Spain      1
8     Greece      1